*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue-darker: #2e323f;
  --blue-lighter: #3b4050;
  --grey: #6f737f;
  --white: white;
  --brown: #a59678;
}

.container {
  max-width: 1200px;
  margin: 0 3rem;
}

.flex {
  display: flex;
}

.header {
  background-color: var(--blue-darker);
}

.header-container {
  justify-content: space-between;
  padding: 0.75rem 0;
}

.nav-list {
  display: flex;
  list-style: none;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: var(--white);
  text-transform: uppercase;
  font-size: 18px;
}

.title-section {
  background-color: var(--blue-lighter);
}

.title-section-container {
  color: var(--white);
  padding: 2rem 0;
}

.title-h1 {
  font-size: 70px;
  line-height: 4.4rem;
  /* letter-spacing: 1px; */
  /* word-spacing: 1px; */
}

.subtitle {
  font-size: 22px;
  margin-top: 2rem;
}

.subtitle-button {
  margin-top: 2rem;
}

.subtitle-link {
  text-transform: uppercase;
  background-color: var(--brown);
  font-size: 22px;
  text-decoration: none;
  color: var(--white);
  border-radius: 100px;
  padding: 0.5rem 1.25rem;
}
