*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

:root {
  --blue-darker: #363945;
  --blue-lighter: #42485a;
  --gray: rgb(247, 247, 247);
  --white: white;
  --brown: #a19376;
  --oswald: "Oswald", sans-serif;
  --montserrat: "Montserrat", sans-serif;
}

.container {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

a:hover,
a:focus {
  opacity: 0.75;
}

.logo-a:hover,
.logo-a:focus {
  opacity: 1;
}

.nav-button:hover,
.nav-button:focus,
.subtitle-link:hover,
.subtitle-link:focus {
  opacity: 0.75;
}

.burger-btn {
  cursor: pointer;
}

.header {
  background-color: var(--blue-darker);
}

.header-container {
  padding: 1rem 0;
}

.header-buttons {
  justify-content: space-between;
  align-items: center;
}

.nav {
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  text-align: center;
  font-family: var(--oswald);
}

.nav.hide {
  display: none;
}

.nav-list {
  list-style: none;
  align-items: center;
}

.nav-list-secondary {
  margin-top: 0.75rem;
}

.nav-item {
  margin-bottom: 0.5rem;
}

.nav-link {
  text-decoration: none;
  color: var(--white);
  text-transform: uppercase;
  font-size: 18px;
}

.nav-button {
  background-color: var(--brown);
  padding: 0.4rem 0.6rem;
  border-radius: 100px;
  margin-bottom: 0.75rem;
}

.title-section {
  background-color: var(--blue-lighter);
}

.title-section-container {
  color: var(--white);
  padding: 6rem 0;
  padding-bottom: 9rem;
}

.title-h1 {
  font-size: 60px;
  line-height: 3.5rem;
  font-family: var(--oswald);
  /* letter-spacing: 10px; */
  /* word-spacing: 1px; */
}

.title-span {
  color: var(--brown);
}

.subtitle {
  font-size: 20px;
  margin-top: 2.5rem;
  font-family: var(--montserrat);
}

.subtitle-button {
  margin-top: 2.5rem;
  text-align: center;
}

.subtitle-link {
  text-transform: uppercase;
  background-color: var(--brown);
  font-size: 24px;
  text-decoration: none;
  color: var(--white);
  border-radius: 100px;
  padding: 0.5rem 1.25rem;
  font-family: var(--oswald);
}

.gray-section {
  background-color: var(--gray);
}

.gray-section-container {
  padding: 6rem 0;
}

.gray-col:nth-child(2),
.gray-col:nth-child(3) {
  padding-top: 2rem;
}

.gray-col {
  text-align: center;
}

.col-title {
  color: var(--brown);
  font-size: 24px;
  font-family: var(--oswald);
  /* padding-top: 2rem; */
}

.col-p {
  font-size: 20px;
  font-family: var(--montserrat);
}

.middle-section-container {
  padding: 6rem 0;
  padding-bottom: 8rem;
}

.middle-title {
  font-size: 26px;
  color: var(--brown);
  font-family: var(--oswald);
}

.middle-p {
  font-size: 18px;
  line-height: 23px;
  font-family: var(--montserrat);
}

.panel {
  background-color: var(--blue-darker);
  color: var(--white);
  text-align: center;
  padding: 2rem;
}

.panel-title {
  font-size: 30px;
  font-family: var(--oswald);
}

.panel-p {
  font-size: 18px;
  margin-top: 1rem;
  font-family: var(--montserrat);
}

.middle-p,
.middle-img,
.panel {
  margin-top: 2rem;
}

.footer {
  background-color: var(--blue-lighter);
}

.footer-container {
  padding: 3rem 0;
  text-align: center;
}

.footer-title {
  font-size: 24px;
  color: var(--white);
  font-family: var(--oswald);
}

.footer-col-title {
  font-size: 21px;
  color: var(--brown);
  margin-top: 2rem;
  font-family: var(--oswald);
}

.footer-col-big-p,
.footer-link {
  font-size: 16px;
  color: var(--white);
  font-family: var(--montserrat);
}

.footer-cols-small-container {
  justify-content: center;
  gap: 2rem;
}

.footer-link {
  text-decoration: none;
}

.footer-item,
.footer-col-big-p {
  margin-top: 1rem;
}

@media (min-width: 700px) {
  .middle-panels-container {
    display: flex;
    gap: 2rem;
  }
}

@media (min-width: 1000px) {
  .title-section-container {
    display: flex;
  }

  .subtitle-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .subtitle-button {
    text-align: start;
  }

  .title-h1 {
    padding-right: 4rem;
    line-height: 5.5rem;
  }

  .gray-section-container {
    display: flex;
    gap: 4rem;
  }

  .gray-col:nth-child(2),
  .gray-col:nth-child(3) {
    padding-top: 0;
  }

  .middle-section-container {
    display: flex;
  }

  .middle-panels-container {
    flex-direction: column;
    margin-left: 7rem;
  }

  .panel {
    min-width: 282px;
  }

  .footer-body {
    display: flex;
  }

  .footer-col-big {
    text-align: start;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
  }

  .burger-btn {
    display: none;
  }

  .nav.hide {
    display: flex;
  }

  .nav {
    flex-direction: row;
    align-items: center;
    margin-top: 0;
  }

  .nav-list-primary,
  .nav-list-secondary {
    display: flex;
    gap: 1.5rem;
    margin: 0;
  }

  .footer-body {
    display: flex;
    justify-content: space-between;
  }

  .footer-title {
    margin-bottom: 3rem;
  }

  .footer-col-big {
    width: 35%;
  }

  .footer-cols-small-container {
    gap: 5rem;
    text-align: start;
    width: 55%;
  }

  .footer-col-small {
    flex: 1 1 0;
  }

  .nav-list-primary {
    margin-right: 5rem;
  }

  .nav-link {
    font-size: 18px;
  }

  .nav-item {
    margin-bottom: 0;
  }

  .title-h1 {
    font-size: 90px;
  }

  .subtitle {
    font-size: 24px;
  }

  .subtitle-link {
    font-size: 24px;
  }

  .col-title {
    font-size: 30px;
  }

  .col-p {
    font-size: 18px;
  }

  .middle-title {
    font-size: 36px;
  }

  .middle-p {
    font-size: 21px;
  }

  .panel-title {
    font-size: 30px;
  }

  .panel-p {
    font-size: 18px;
  }

  .footer-title {
    font-size: 50px;
  }

  .footer-col-title {
    font-size: 21px;
  }

  .footer-col-big-p,
  .footer-link {
    font-size: 16px;
  }
}
