*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

:root {
  --blue-darker: #2e323f;
  --blue-lighter: #3b4050;
  --gray: rgb(247, 247, 247);
  --white: white;
  --brown: #a59678;
}

.container {
  max-width: 1200px;
  margin: 0 3rem;
}

.flex {
  display: flex;
}

a:hover,
a:focus {
  opacity: 0.75;
}

.header {
  background-color: var(--blue-darker);
}

.header-container {
  padding: 1rem 0;
}

.header-buttons {
  justify-content: space-between;
  align-items: center;
}

.nav {
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  text-align: center;
}

.nav-list {
  list-style: none;
  align-items: center;
}

.nav-list-secondary {
  margin-top: 0.75rem;
}

.nav-item {
  margin-bottom: 0.5rem;
}

.nav-link {
  text-decoration: none;
  color: var(--white);
  text-transform: uppercase;
  font-size: 18px;
}

.nav-button {
  background-color: var(--brown);
  padding: 0.4rem 0.6rem;
  border-radius: 100px;
  margin-bottom: 0.75rem;
}

.title-section {
  background-color: var(--blue-lighter);
}

.title-section-container {
  color: var(--white);
  padding: 3rem 0;
}

.title-h1 {
  font-size: 60px;
  line-height: 3.5rem;
  /* letter-spacing: 1px; */
  /* word-spacing: 1px; */
}

.title-span {
  color: var(--brown);
}

.subtitle {
  font-size: 20px;
  margin-top: 2.5rem;
}

.subtitle-button {
  margin-top: 2.5rem;
  text-align: center;
}

.subtitle-link {
  text-transform: uppercase;
  background-color: var(--brown);
  font-size: 24px;
  text-decoration: none;
  color: var(--white);
  border-radius: 100px;
  padding: 0.5rem 1.25rem;
}

.gray-section {
  background-color: var(--gray);
}

.gray-section-container {
  padding: 3rem 0;
}

.gray-col:nth-child(2),
.gray-col:nth-child(3) {
  padding-top: 2rem;
}

.gray-col {
  text-align: center;
}

.col-title {
  color: var(--brown);
  font-size: 24px;
  /* padding-top: 2rem; */
}

.col-p {
  font-size: 20px;
}

.middle-section-container {
  padding: 3rem 0;
}

.middle-title {
  font-size: 26px;
  color: var(--brown);
}

.middle-p {
  font-size: 18px;
  line-height: 23px;
}

.panel {
  background-color: var(--blue-darker);
  color: var(--white);
  text-align: center;
  padding: 2rem;
}

.panel-title {
  font-size: 30px;
}

.panel-p {
  font-size: 18px;
  margin-top: 1rem;
}

.middle-p,
.middle-img,
.panel {
  margin-top: 2rem;
}

.footer {
  background-color: var(--blue-lighter);
}

.footer-container {
  padding: 3rem 0;
  text-align: center;
}

.footer-title {
  font-size: 24px;
  color: var(--white);
}

.footer-col-title {
  font-size: 21px;
  color: var(--brown);
  margin-top: 2rem;
}

.footer-col-big-p,
.footer-link {
  font-size: 16px;
  color: var(--white);
}

.footer-cols-small-container {
  justify-content: center;
  gap: 10px;
}

.footer-link {
  text-decoration: none;
}

.footer-item,
.footer-col-big-p {
  margin-top: 1rem;
}
