* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 48px;
  color: white;
  padding-bottom: 2rem;
}

p {
  font-size: 21px;
  color: white;
  padding-bottom: 4rem;
}

.link {
  display: inline-block;
  font-size: 21px;
  font-weight: bold;
  color: #23424a;
  text-decoration: none;
  background-color: #38cfd9;
  padding: 1rem 2rem;
  border-radius: 100px;
}

.link:hover,
.link:focus {
  opacity: 0.75;
}

.blue-container-bigger {
  background-color: #23424a;
  padding: 5rem 0;
}

.blue-container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

.text-container {
  width: 70%;
}

.white-container {
  display: flex;
  gap: 30px;
  padding: 4rem 7rem;
}

.col-purple {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.head-purple {
  color: #87629a;
}

.head-column {
  font-size: 36px;
  /* font-family: Roboto Black; */
}

.p-purple {
  color: black;
}

.marine-container {
  background-color: #136c72;
  display: flex;
  gap: 30px;
  padding: 4rem 7rem;
}

.p-marine {
  color: white;
}

.head-marine {
  color: white;
}
